@model FireInsurance.Data.Models.FireInsuranceCustomer

@{
    Layout = null;
}


<!DOCTYPE html>
<html>
<head>
    <title>بیمه نامه آتشسوزی منزل مسکونی</title>
    <link href="~/IRANSans/css/IRANSans.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link href="~/css/site.css" rel="stylesheet" />
    <link href="~/css/persianDatepicker-default.css" rel="stylesheet" />
</head>
<body dir="rtl">
    <div class="row">
        <div class="col-md-12 row justify-content-center">
            <div class="col-md-2" style="text-align:right">
                <img src="/img/TF-logo.png" style="width:100%" onclick="window.open('http://toofanfelez.com/')" />
            </div>
            <div class="col-md-8">

            </div>
            <div class="col-md-2" style="text-align:left">
                <img src="/img/unnamed.png" style="width:100%" onclick="window.open('https://www.bimehma.com')" />

            </div>

        </div>
        <div class="col-md-12 " style="text-align:center;margin-top:100px">

            <h4 class="page-title">جهت فعالسازی بیمه نامه آتشسوزی منزل مسکونی</h4>
            <h4 class="page-title">(هدیه شرکت طوفان فلز)</h4>
            <div style="margin-top:25px">

                <h5>اطلاعات زیر را وارد نمایید</h5>


            </div>
        </div>
        <form asp-action="Index" id="index" class="col-md-12 row justify-content-center">
            <div class="col-md-4 col-sm-4 info">
                <div>
                    <input autocomplete="off" asp-for="NationalCode" class="form-control" placeholder="* کد ملی" />

                </div>
                <div>
                    <input autocomplete="off" asp-for="Mobile" class="form-control" placeholder="* تلفن همراه" />
                </div>
                <div>

                    <input autocomplete="off" asp-for="BirthDate" class="form-control datepicker" placeholder="* تاریخ تولد" />
                </div>

                <div>
                    <input autocomplete="off" asp-for="PostalCode" class="form-control" placeholder="* کد پستی" />
                </div>
                <div>
                    <input autocomplete="off" asp-for="ProductId" class="form-control" placeholder="* کد محصول" />
                </div>
                <div style="text-align:right;">
                    <input onclick="myFunction()" type="checkbox" id="privacy">
                    <label for="privacy"> شرایط را مطالعه نموده و قبول دارم</label><br>
                </div>
                <button class="btn-warning" id="submit" href="/">تایید اطلاعات</button>
            </div>

        </form>
    </div>
    <div style="position:center" class="div">
        <p>
            مشتری محترم از اینکه محصولات ما را جهت استفاده در منزل خود انتخاب کردید از شما سپاسگزاریم،
        </p>
        <p>
            شرکت طوفان فلز با همکاری شرکت بیمه ما هدیه ای ارزشمند در اختیار شما قرار داده، لطفا با واردکردن اطلاعات درخواستی هدیه خود را دریافت فرمایید,

        </p>
        <p>
            با تشکر

        </p>
    </div>>
    <div class="page-footer">
        <div class="page-footer-inner">
            تمامی حقوق این اثر متعلق به بیمه ما (نمایندگی بهرامی) می‌باشد.
        </div>
        <div class="scroll-to-top">
            <i class="icon-arrow-up"></i>
        </div>
    </div>
    @section Scripts {
        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    }
    <script src="~/js/jquery.js"></script>
    <script src="~/js/SweetAlert.js"></script>
    <script src="~/js/persianDatepicker.js"></script>
    <script>
        $(function () {
            $(".datepicker").persianDatepicker({
                formatDate: 'YYYY/0M/0D', persianNumbers: !0
            });
        });
    </script>
    <script>
        $('#submit').click(function (evt) {
            evt.preventDefault();
            const cb = document.getElementById('privacy');
            if (cb.checked) {
                var data = new FormData(this.form);
                $.ajax({
                    url: "/Home/Index",
                    type: "POST",
                    data: data,
                    processData: false,
                    contentType: false,
                    dataType: "json",
                    success: function (msg) {
                        swal("", msg[1], msg[0]);

                    }
                });
            }
            else {
                swal("", "لطفا شرایط را مطاله نمایید.", "error");
            }

        });

    </script>
    <script>
        function myFunction() {
            const cb = document.getElementById('privacy');
            if (cb.checked) {
                swal("", "متن شرایط و مقررات.", "warning");
            }
        }
    </script>
</body>
</html>
